html,body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #E8D8C4 ; /* Set the background color for the table */
}

.table {
    background-color: #f5f5dc ; /* Set the background color for the table */
}

/* Optional: Add additional styling for hover effect */
.table-hover tbody tr:hover {
    background-color: #f5f5f5; /* Change the background color on hover */
}
