.navbar{
    background-color: beige;
    height: 60px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand{
    font-weight: 500;
    color: darkslategrey;
    font-size: 24px;
    transition: 0.3s color;
}

.logout-button {
    background-color: darkslategrey;
    color: beige;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color:darkslategrey;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
}

.nav-link:hover, .nav-link.active{
    color:black;
}

@media(min-width: 991px){
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width:0;
        height: 2px;
        background-color: darkslategrey;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}
