*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  url(/img/potret2.png);
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: rgba(0, 0, 0, 0.8); /* Slight background for readability */
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0; 
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #fff; /* Change border color for better visibility */
    border-radius: 25px; /* Adjust border radius to make it more rounded */
    padding: 20px 45px 20px 20px; /* Add padding for better text alignment */
    color: #fff; /* Change text color for better contrast */
    font-size: 16px;
}

.input-box input::placeholder {
    color: #ccc; /* Adjust placeholder color for better visibility */
}


.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}