
html,
body {
    /* background-color: #E8D8C4; */
    height: 100vh;
}

.mburi{
    background-color: #E8D8C4;
    height: 100%;
}

.ktk{
    border-radius: 17px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.evt{
    border-radius: 10px;
}

.flex-item {
    margin-right: 10px; /* Adjust as needed */
}