
html,
body {
    /* background-color: #E8D8C4; */
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.mburi{
    background-color: #E8D8C4;
    height: 200%;
}

.ktk{
    border-radius: 17px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.evt{
    border-radius: 10px;
}

.flex-item {
    margin-right: 10px; /* Adjust as needed */
}

.card-container .card-body {
    display: flex;
    justify-content: center;
    /*   Maksimum lebar card */
    /* border: 1px solid #ccc; Menambahkan border */
    border-radius: 5px; /* Memberikan sudut border */
     /* Memberikan jarak antara card */
    box-sizing: border-box; /* Memastikan lebar dan padding termasuk dalam total lebar */
}   

.card:hover {
    background-color: #C7B7A3;
    /* color: #222831; */
}

.h2{
    width: 20rem;
    float: left;
    clear: both; /* Membersihkan float */
    margin-bottom: 20px; /* Memberikan jarak antara card */
}

.title {
    display: inline-block; /* Menjadikan elemen lebar sesuai konten */
    width: auto; /* Menghapus lebar yang sebelumnya diatur */
    margin: 0 auto; /* Mengatur elemen ke tengah */
    border: 1px solid #ccc; /* Memberikan border */
    border-radius: 5px; /* Memberikan sudut border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Menambahkan shadow */
    text-align: left; /* Mengatur teks ke tengah */
    padding: 5px; /* Memberikan padding pada isi card */
    /* background-color: #222831; Memberikan warna latar belakang */
    color: #222831; /* Memberikan warna teks */
    width: 100%; /* Memperluas elemen ke lebar halaman */
    transition: background-color 0.3s, color 0.3s; /* Efek transisi hover */
}

.title:hover {
    background-color: #76ABAE; /* Warna latar belakang saat dihover */
    color: #fff; /* Warna teks saat dihover */
}

.bungkus{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    position: relative;
}

img {
    max-width: 100%; /* Maksimum lebar gambar adalah lebar parent */
    height: auto; /* Membuat gambar tetap proporsional */
    display: block; /* Membuat gambar menjadi blok */
    margin: 0 auto; /* Mengatur margin atas dan bawah menjadi auto untuk memusatkan gambar secara horizontal */
    /* position: relative; */
}

.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0,6s;
}

.content:hover{
    opacity: 1;
}

.content h1{
    font-size: 55px;
    color: #C7B7A3;
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content > *{
    transform:translateY(25px);
    transition: transform 0.6s;
}

.content:hover > *{
    transform:translateY(0px);
}

.button {
    display: inline-block; /* Membuat tombol menjadi inline block */
    padding: 10px 20px; /* Memberikan padding pada tombol */
    font-size: 16px; /* Mengatur ukuran font */
    font-weight: bold; /* Memberikan ketebalan font */
    text-align: center; /* Mengatur teks ke tengah */
    text-decoration: none; /* Menghapus dekorasi teks */
    color: #E8D8C4;
    background-color:#fff; /* Warna latar belakang */
    border: none; /* Menghapus border */
    border-radius: 5px; /* Memberikan sudut border */
    cursor: pointer; /* Mengubah kursor menjadi tangan saat dihover */
    transition: background-color 0.3s; /* Efek transisi saat dihover */
}

.button:hover {
    background-color: #E8D8C4; /* Warna latar belakang saat dihover */
}

.button:focus {
    outline: none; /* Menghilangkan outline saat tombol mendapatkan fokus */
}


/* ---------------------------------------- */
/* Foooterrrrr */
.footer {
    background-color: #333; /* Warna latar belakang footer */
    color: #fff; /* Warna teks footer */
    padding: 50px 0; /* Padding atas dan bawah */
}

.footer h5 {
    color: #fff; /* Warna teks judul */
}

.footer p {
    color: #ccc; /* Warna teks isi */
    font-size: 14px; /* Ukuran teks isi */
}

.footer ul {
    list-style: none; /* Menghapus bullet list */
    padding: 0; /* Menghapus padding list */
}

.footer ul li {
    margin-bottom: 10px; /* Jarak antar item list */
}

.social-icons {
    list-style: none; /* Menghapus bullet list */
    padding: 0; /* Menghapus padding list */
}

.social-icons li {
    display: inline-block; /* Membuat ikon media sosial berbaris */
    margin-right: 10px; /* Jarak antar ikon media sosial */
}

.social-icons li a {
    color: #fff; /* Warna ikon media sosial */
    font-size: 20px; /* Ukuran ikon media sosial */
    transition: color 0.3s; /* Efek transisi warna */
}

.social-icons li a:hover {
    color: #007bff; /* Warna ikon media sosial saat dihover */
}




/* --------------------------------------------------- */
/* Landing Page */

body.blanding {
    background-image: url('img/potret1.png');
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the background image covers the entire body */
    background-position: center; /* Centers the background image */
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensures the body takes up the full viewport height */
    width: 100%;
    margin-bottom: 10;
    background: rgba(0, 0, 0, 0.8); /* Slight background for readability */
}

.wrapper {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 9%;
    backdrop-filter: blur(10px); /* Blur effect for better readability */
}

.logo a p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
    color: white;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right:140px;
    padding: 0;
}

.nav ul li {
    font-size: 18px;
    color: white; /* Set text color to white */
    cursor: pointer;
    transition: color 0.3s;
}

.nav ul li:hover {
    color: #FF9F66; /* Hover color */
}

.wrapper{
    color: white;
}

.header{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 72%;
    transform: translate(-50%,-50%);
}

.header h1{
    color: #fff;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.header span{
    color: #C7B7A3;
}

.content-header{
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 55%;
    left: 73%;
}

.content-header p {
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}

.login-btn{
    width: 150px;
    height: 42px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color:#222831;
    box-shadow: 0px 21px 53px rgba(20, 13, 40, 0.66);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login-btn:hover{
    transition: all .5s ease;
    background-color: #C7B7A3;
    box-shadow: 0px 21px 53px rgba(20, 13, 40, 0.66);
}

.col-img {
    position: absolute;
    top: 50%;
    left: 30%; /* Adjusted from 22% to 30% to move image to the right */
    transform: translate(-50%, -50%);
    text-align: center; /* Corrected invalid text-align value */
}

.col-img img {
    width: 60%;
    border-radius: 100px 10px 100px 10px;
}

.container-fluid {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}




